.loading-map {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.search-container {
  /* background-color: #61DAFB; */
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  left: 20px;
  top: 20px;
  width: 250px;
  z-index: 999;
}

button:hover {
  background-color: #282c34!important;
  color: #fff!important;
  border-color: #fff!important;
}

.pointer {
  cursor: pointer;
}

.place-active {
  background-color: #61dafb!important;
}

.button-active {
  color: #282c34!important;
  border-color: #282c34!important;
}

/* .place-active button {
  color: #282c34!important;
}

.place-active button:hover {
  color:  white!important;
} */